<div [ngStyle] = "{'background' : config.fondo}">
  <h1>
    Bienvenidos, {{title}}!
  </h1>
  <p>{{descripcion}}</p>

  <nav>
    <a [routerLink] = "['/home']" [routerLinkActive] = "['active']">Home</a>
    &nbsp;
    <a [routerLink] = "['/zapatillas']" [routerLinkActive] = "['active']">Zapatillas</a>
    &nbsp;
    <a [routerLink] = "['/videojuego']" [routerLinkActive] = "['active']">Video juegos</a>
    &nbsp;
    <a [routerLink] = "['/curso']" [routerLinkActive] = "['active']">Cursos</a>
    &nbsp;
  </nav>
  <br>
  <hr>
  <!-- <button (click) = 'ocultarVideojuegos(false)' *ngIf= mostrar_videojuegos>Ocular</button>
  <button (click) = 'ocultarVideojuegos(true)' *ngIf= !mostrar_videojuegos>mostrar</button>

  <videojuego *ngIf= mostrar_videojuegos></videojuego> -->

  <!-- <zapatillas></zapatillas> -->
  <!-- <curso></curso> -->
  <router-outlet></router-outlet>
</div>